In [17]:
import utils
import numpy as np

In [18]:
# Create a Company Class Pointed at 'A', agilent
firstcompany = utils.company('A')

# Or we could get the first company from the function get_company_list
firstcompany = utils.company(utils.get_company_list()[0])

In [19]:
# Show the original data range
print(firstcompany.start, firstcompany.end)

2001-01-02T00:00:00.000000000 2023-09-29T00:00:00.000000000

In [20]:
# Update the data range 
firstcompany.update_time_range('2019-01-01','2020-10-01',30)
# we study the data between 2010-01-01 and 2020-10-01, and the time interval is 30days 
print(firstcompany.start, firstcompany.end)

2019-01-01 00:00:00 2020-10-01 00:00:00

In [21]:
# fetch a single data , for example , the price 
price = firstcompany.read_single_data(('price','Close'))
print("price: {}".format(price))

price: [ 65.690002  76.050003  81.239998  80.379997  77.330002  67.080002
  72.510002  69.580002  72.199997  78.07      74.919998  78.260002
  84.449997  88.620003  85.470001  69.199997  76.209999  81.269997
  89.769997  89.540001  97.889999 103.419998]

In [22]:
# But we also need the time for the price
print("Time: {}".format(firstcompany.time_series))
# The end time may not be exactly 2020-10-01 because of the interval we set

Time: [Timestamp('2019-01-01 00:00:00') Timestamp('2019-01-31 00:00:00')
 Timestamp('2019-03-02 00:00:00') Timestamp('2019-04-01 00:00:00')
 Timestamp('2019-05-01 00:00:00') Timestamp('2019-05-31 00:00:00')
 Timestamp('2019-06-30 00:00:00') Timestamp('2019-07-30 00:00:00')
 Timestamp('2019-08-29 00:00:00') Timestamp('2019-09-28 00:00:00')
 Timestamp('2019-10-28 00:00:00') Timestamp('2019-11-27 00:00:00')
 Timestamp('2019-12-27 00:00:00') Timestamp('2020-01-26 00:00:00')
 Timestamp('2020-02-25 00:00:00') Timestamp('2020-03-26 00:00:00')
 Timestamp('2020-04-25 00:00:00') Timestamp('2020-05-25 00:00:00')
 Timestamp('2020-06-24 00:00:00') Timestamp('2020-07-24 00:00:00')
 Timestamp('2020-08-23 00:00:00') Timestamp('2020-09-22 00:00:00')]

In [23]:
# fetch a list of data, it will return a tuple of (time_series , and data )
data = firstcompany.read_data([('price','Close'),('balance','CurrentAssets'),('esg','S&P Global ESG Score')])

In [24]:
print(len(data),  len(data[0]),np.shape(data[1]))

2 22 (3, 22)